# Various editor backup files
\#*\#
.\#*
.*~

# Cached python compiled filed
*.pyc
*.pyo
__pycache__
*.egg-info

# Compliation results
*.so
*.dylib
*.o

# Build results
build/

# Output of scripts
families_graphs/
nonnuclear_families_graphs/